@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
  }

  body {
    @apply bg-white text-dark-charcoal;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
  }
}

@layer utilities {
  .section-snap {
    scroll-snap-align: start;
    min-height: 100vh;
  }
  
  .no-snap {
    scroll-snap-align: none;
    scroll-snap-stop: normal;
  }
}

